<h1>{{cat 'label_labels_listTitle'}}</h1>

<div>
	<a href="/labels/upload">{{cat 'label_labels_uploadButton'}}</a>
</div>
<div>
	<form action="/labels" method="POST">
		{{#if lang}}
		<button type="button" onclick="resetFilter('lang_hidden', this)">{{lang}} x</button>
		<input type="hidden" name="lang" id="lang_hidden" value="{{lang}}" /> 
        {{else}}
		<select name="lang" onchange="this.form.submit()">
            <option value="">{{cat 'label_labels_unselectedFilter'}}</option>            
            {{#each languages}}
            <option value="{{this.language}}" {{#eq this.language ../lang}}selected{{/eq}}>{{this.language}}</option>            
            {{/each}}
        </select> 
        {{/if}} 
        
        {{#if type}}
		<button type="button" onclick="resetFilter('type_hidden', this)">{{type}} x</button>
		<input type="hidden" name="type" id="type_hidden" value="{{type}}" /> 
        {{else}}
		<select name="type" onchange="this.form.submit()">
            <option value="">{{cat 'label_labels_unselectedFilter'}}</option>
            {{#each types}}
            <option value="{{this.label_type}}" {{#eq this.label_type ../type}}selected{{/eq}}>{{this.label_type}}</option>
            {{/each}}
        </select> 
        {{/if}}

        {{#if ns}}
        <button type="button" onclick="resetFilter('ns_hidden', this)">{{ns}} x</button>
        <input type="hidden" name="ns" id="ns_hidden" value="{{ns}}" />
        {{else}}
		<select name="ns" onchange="this.form.submit()">
            <option value="">{{cat 'label_labels_unselectedFilter'}}</option>
            {{#each namespaces}}
            <option value="{{this.namespace}}" {{#eq this.namespace ../ns}}selected{{/eq}}>{{this.namespace}}</option>
            {{/each}}
        </select>
        {{/if}}
	</form>
</div>

<p>{{pageStart}} - {{pageEnd}} {{cat 'label_labels_of'}} {{model.count}}</p>

<table>
	<thead>
		<tr>
			<th>{{cat 'label_labels_languageCodeHeading'}}</th>
			<th>{{cat 'label_labels_keyHeading'}}</th>
			<th>{{cat 'label_labels_valueHeading'}}</th>
			<th>{{cat 'label_labels_createdHeading'}}</th>
		</tr>
	</thead>
	<tbody>        
		{{#each model.rows}}
		<tr>
			<td>{{this.language}}</td>
			<td>{{this.label_key}}</td>
			<td>{{this.text}}</td>
			<td>{{date this.created_at 'DD MMM YYYY'}}</td>
		</tr>
		{{else}}
		<td colspan="4">{{cat 'label_labels_noResults'}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>

<script type="text/javascript">
    function resetFilter(id, el){
        document.getElementById(id).value = '';
        el.form.submit();
    }
</script>